<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      <a class="sidebar-nav-item{% if page.url == '/documentation/Dokumentation' %} active{% endif %}" href="/documentation/Dokumentation">{{ node.title }}</a>
      <a class="sidebar-nav-item{% if page.url == '/documentation/Organisation' %} active{% endif %}" href="/documentation/Dokumentation">{{ node.title }}</a>

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently {{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }} Open Source</p>
  </div>
</div>
